.DS_Store
Thumbs.db
.gitconfig
.DS_Store
.svn
*~
.*.swp
.vim/bundle
.vim/spell
.vim/vimswap
.vim/vimundo
.vim/vimviews
.vim/view
.ptpython/history
plug.vim
.config/configstore
.config/.mono
.vim/autoload
.vim/temp/undodir
.idea/
.config/direnv
git_hooks/*
